@model Demo.Web.Models.Page.CreateViewModel
@{
    ViewBag.Title = "Criar página";
}

<h4>
    <span class="text-danger">projeto</span> <small>criar página</small>
</h4>

<hr />

@using (Html.BeginForm("Create", "Page", FormMethod.Post, new { @class = "form-horizontal" })) {

    Html.ValidationSummary(true);
    
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-file"></span></span>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.CssClass, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-leaf"></span></span>
                @Html.TextBoxFor(m => m.CssClass, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.CssClass, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Action, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                @Html.TextBoxFor(m => m.Action, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Action, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Controller, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                @Html.TextBoxFor(m => m.Controller, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Controller, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.ShowInMenu)
                @Html.LabelFor(m => m.ShowInMenu)
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.IsRoot)
                @Html.LabelFor(m => m.IsRoot)
            </div>
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.RootId, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                @Html.DropDownListFor(m => m.RootId, Model.GetRoots(), new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.RootId, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="@Url.Action("Index")" class="btn btn-link"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp; Voltar</a>
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </div>
}