<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="#" />
    @Styles.Render("~/css")

    @RenderSection("head", false)
    @Html.Partial("_Html5shiv")
</head>
<body>
    <div id="wrap">
        <header>
            @Html.Partial("_Menu")
        </header>

        <article>
            <div class="container">
                @Html.Partial("_Alerts")
                @Html.Partial("_ValidationSummary")

                @RenderBody()
            </div>
        </article>

        <div id="push"></div>
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/js")
    @RenderSection("scripts", false)
</body>
</html>
