@using Demo.Web.Lib.Authentication
@using Demo.Web.Lib.Menu
@using Library.Net.Mvc.Authentication
@{
    var user = new CurrentAuthenticatedUser<AuthenticatedUser>().Get();
    var menu = MenuHelper.GetBy(user.Id);
}

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">projeto</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var current in menu) {
                    @Html.EditorFor(m => current)
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@user.Email <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Edit", "Account")"><span class="glyphicon glyphicon-edit"></span>&nbsp; Editar conta</a></li>
                        <li><a href="@Url.Action("ChangePassword", "Account")"><i class="glyphicon glyphicon-lock"></i>&nbsp; Alterar senha</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("LogOff", "Login")"><span class="glyphicon glyphicon-log-out"></span>&nbsp; Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>