@model Demo.Web.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Alterar senha";
}
<h4><span class="text-info">projeto</span><small> alterar senha</small></h4>
<hr />
@using (Html.BeginForm()) {
    Html.ValidationSummary(true);
    <fieldset class="form-horizontal">
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "input-large" })
                </div>
                @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input-large" })
                </div>
                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-large" })
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-link" href="@Url.Action("Index","Home")"><i class="icon-circle-arrow-left"></i> Voltar</a>
            <button type="submit" class="btn btn-success pull-right"><i class="icon-ok-sign icon-white"></i> Enviar</button>
        </div>
    </fieldset>
}