@model Demo.Web.Models.Account.CreateViewModel
@{
    ViewBag.Title = "Criar conta";
    Layout = "~/Views/shared/_LayoutEmpty.cshtml";
}

<h4>
    <span class="text-danger">projeto</span> <small>criar conta</small>
</h4>

<hr />

@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal" })) {

    Html.ValidationSummary(true);
    
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-block" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="@Url.Action("LogOn", "Login")" class="btn btn-link"><span class="glyphicon glyphicon-circle-arrow-left"></span>&nbsp; Voltar</a>
            <button type="submit" class="btn btn-success">Enviar</button>
        </div>
    </div>
}